<a href="https://colab.research.google.com/github/dohyeon-kim012/python-1./blob/main/5.31__html%2C%20naver%20API.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 교재 296p~

In [1]:
s = 'seoul seoul korea seoul'
s.count('s')

3

In [2]:
s.find('seo')    # 0번째에 있음

0

In [3]:
s.replace('seoul', 'busan')

'busan busan korea busan'

In [4]:
s.index('o')

2

In [12]:
s.find('T')   # 찾을 수 없으면 결과값 -1

-1

In [7]:
s.split(' ')    #공백을 기준으로 나누기->출력된 형태가 리스트임

['seoul', 'seoul', 'korea', 'seoul']

In [8]:
'korea'.upper()

'KOREA'

In [9]:
'SEOUL'.lower()

'seoul'

In [10]:
s.rfind('u')  # 오른쪽부터 찾기(거꾸로)

21

In [13]:
s.split('e')

['s', 'oul s', 'oul kor', 'a s', 'oul']

In [14]:
'   TTT   '.strip() , '   TTT   '.rstrip() , '   TTT   '.lstrip()    # strip: 공백 제거 (r-right, l-left)

('TTT', '   TTT', 'TTT   ')

In [15]:
s.ljust(30, '#')    # 전체 공간을 30으로 만들고 남은 공백은 '#'(문자) 으로 채우는 함수

'seoul seoul korea seoul#######'

In [16]:
import re

text = "foo bar\t baz \tqux"
re.split('\s+', text)    #-> 먼저 정규 표현식이 컴파일되고 그 다음 split 메서드 실행됨

['foo', 'bar', 'baz', 'qux']

In [18]:
'::'.join(s)  # 리스트나 튜플을 :: 문자열의 join 메서드로 전달 -> 분리된 문자열을 :: 문자열과 합치기

's::e::o::u::l:: ::s::e::o::u::l:: ::k::o::r::e::a:: ::s::e::o::u::l'

In [19]:
jumin_number = '''
choi 901230-2011435
yang 980127-1132654
park 201123-1698745
'''
p = re.compile('(\d{6})[-]\d{7}')   # 앞부분은 () 들어가야 하고, 뒷부분은 있어도 되고 없어도 됨
print(p.sub('\g<1>-*******', jumin_number))    
# ★★정규표현식★★ (https://wikidocs.net/4308)

choi 901230-*******
yang 980127-*******
park 201123-*******

In [21]:
for i in range(3):
    my_str = input(' Enter String(영문자+숫자만 입력) : ')
    p = re.compile('\w+')    # \w+ : 문자+숫자와 매치 / p=re.compile('[a-zA-Z0-9]+')와 동일한 표현식
    m = p.match(my_str)
    if m:
        print('매칭 됨 : ', m.group())
    else:
        print('매칭 안 됨', my_str)

 Enter String(영문자+숫자만 입력) : 12345+98
매칭 됨 :  12345
 Enter String(영문자+숫자만 입력) : kim/
매칭 됨 :  kim
 Enter String(영문자+숫자만 입력) : Kimdo
매칭 됨 :  Kimdo

In [22]:
p = re.compile('AAA|BBB|CCC')
m = p.match('BBB-good')    # = re.match('AAA|BBB|CCC', 'BBB-good')
m    # 매치가 되었을 때만 결과값 나옴

In [ ]:
%hist

In [24]:
%%writefile my.py    # 코딩을 파일로 저장하기
print('파이썬 코딩')
for i in range(5):
    print('Python Good')

Writing my.py

In [25]:
!ls

my.py  sample_data

In [26]:
%run my.py    # 저장한 코딩파일 실행하기

파이썬 코딩
Python Good
Python Good
Python Good
Python Good
Python Good

In [49]:
%%html
<marquee style='width:100%; color:red; '><b>파이썬은 최고야!!</b>
<body bgcolor=blue; text=white; '<hr><br><h2> 김도도

In [37]:
import numpy as np
from numpy import nan as NA
import pandas as pd
d = pd.Series([1, NA, 6.3, NA, 9])
d

0    1.0
1    NaN
2    6.3
3    NaN
4    9.0
dtype: float64

In [38]:
d[d.isnull()]

1   NaN
3   NaN
dtype: float64

In [39]:
d[d.notnull()]

0    1.0
2    6.3
4    9.0
dtype: float64

In [40]:
d.fillna(55)  # 비워져있는 na 값을 채우기

0     1.0
1    55.0
2     6.3
3    55.0
4     9.0
dtype: float64

In [42]:
b = np.arange(1000, 13000, 1000).reshape(4, 3)
b

array([[ 1000,  2000,  3000],
       [ 4000,  5000,  6000],
       [ 7000,  8000,  9000],
       [10000, 11000, 12000]])

In [43]:
b[2:,0]

array([ 7000, 10000])

### HTML

In [50]:
%%html

<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8"> 
 	<title>나의 타이틀</title>
</head>

<body bgcolor=green  text=white>

  <h1>짱구네 집</h1>  
  <p>단락. paragraph</p>

  <div>
  	<a href='http://func.kr'>우리카페</a>
  </div>

  <div>
    <a href='http://www.naver.com'>네이버</a>
  </div>

 <div>
    <a href='http://w3schools.com'>공부하러가자</a>
</div>

<table style='width:50%' border=1 align=center>
  <tr align=center>
    <th>이름</th>
    <th>소속</th> 
    <th>연봉</th>
  </tr>
  
  <tr align=center>
    <td>류현진</td>
    <td>토론토</td>
    <td>1500</td>
  </tr>
  
  <tr align=center>
    <td>김하성</td>
    <td>센디에이고</td>
    <td>700</td>
  </tr>
  
  <tr align=center>
    <td>양현종</td>
    <td>텍사스</td>
    <td>800</td>
  </tr>
  
</table>
    
  
  <div id='id1'>
  	   여기는 서울 
       <p> 단락 </p>
  </div>
  
</body>

</html>

In [51]:
%%writefile my.html

<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8"> 
 	<title>나의 타이틀</title>
</head>

<body bgcolor=green  text=white>

  <h1>짱구네 집</h1>
  <p>단락. paragraph</p>

  <div>
  	<a href='http://func.kr'>우리카페</a>
  </div>

  <div>
    <a href='http://www.naver.com'>네이버</a>
  </div>

 <div>
    <a href='http://w3schools.com'>공부하러가자</a>
</div>

<table style='width:50%' border=1 align=center>
  <tr align=center>
    <th>이름</th>
    <th>소속</th> 
    <th>연봉</th>
  </tr>
  
  <tr align=center>
    <td>류현진</td>
    <td>토론토</td>
    <td>1500</td>
  </tr>
  
  <tr align=center>
    <td>김하성</td>
    <td>센디에이고</td>
    <td>700</td>
  </tr>
  
  <tr align=center>
    <td>양현종</td>
    <td>텍사스</td>
    <td>800</td>
  </tr>
  
</table>
    
  
  <div id='id1'>
  	   여기는 서울 
       <p> 단락 </p>
  </div>
  
</body>

</html>

Writing my.html

In [52]:
!ls    # 파일 확인

my.html  my.py	sample_data

In [ ]:
!nl my.html    ## 파일 열기

In [54]:
from bs4 import BeautifulSoup
import urllib.request

with open('my.html') as f:
    s = BeautifulSoup(f, 'html.parser')

print(s)

<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8"/>
<title>나의 타이틀</title>
</head>
<body bgcolor="green" text="white">
<h1>짱구네 집</h1>
<p>단락. paragraph</p>
<div>
<a href="http://func.kr">우리카페</a>
</div>
<div>
<a href="http://www.naver.com">네이버</a>
</div>
<div>
<a href="http://w3schools.com">공부하러가자</a>
</div>
<table align="center" border="1" style="width:50%">
<tr align="center">
<th>이름</th>
<th>소속</th>
<th>연봉</th>
</tr>
<tr align="center">
<td>류현진</td>
<td>토론토</td>
<td>1500</td>
</tr>
<tr align="center">
<td>김하성</td>
<td>센디에이고</td>
<td>700</td>
</tr>
<tr align="center">
<td>양현종</td>
<td>텍사스</td>
<td>800</td>
</tr>
</table>
<div id="id1">
  	   여기는 서울
       <p> 단락 </p>
</div>
</body>
</html>

In [55]:
s.title

In [56]:
s.a

In [57]:
s.head

<head>
<meta charset="utf-8"/>
<title>나의 타이틀</title>
</head>

In [58]:
s.body

<body bgcolor="green" text="white">
<h1>짱구네 집</h1>
<p>단락. paragraph</p>
<div>
<a href="http://func.kr">우리카페</a>
</div>
<div>
<a href="http://www.naver.com">네이버</a>
</div>
<div>
<a href="http://w3schools.com">공부하러가자</a>
</div>
<table align="center" border="1" style="width:50%">
<tr align="center">
<th>이름</th>
<th>소속</th>
<th>연봉</th>
</tr>
<tr align="center">
<td>류현진</td>
<td>토론토</td>
<td>1500</td>
</tr>
<tr align="center">
<td>김하성</td>
<td>센디에이고</td>
<td>700</td>
</tr>
<tr align="center">
<td>양현종</td>
<td>텍사스</td>
<td>800</td>
</tr>
</table>
<div id="id1">
  	   여기는 서울
       <p> 단락 </p>
</div>
</body>

In [59]:
s.h1

In [61]:
s.select

<bound method Tag.select of
<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8"/>
<title>나의 타이틀</title>
</head>
<body bgcolor="green" text="white">
<h1>짱구네 집</h1>
<p>단락. paragraph</p>
<div>
<a href="http://func.kr">우리카페</a>
</div>
<div>
<a href="http://www.naver.com">네이버</a>
</div>
<div>
<a href="http://w3schools.com">공부하러가자</a>
</div>
<table align="center" border="1" style="width:50%">
<tr align="center">
<th>이름</th>
<th>소속</th>
<th>연봉</th>
</tr>
<tr align="center">
<td>류현진</td>
<td>토론토</td>
<td>1500</td>
</tr>
<tr align="center">
<td>김하성</td>
<td>센디에이고</td>
<td>700</td>
</tr>
<tr align="center">
<td>양현종</td>
<td>텍사스</td>
<td>800</td>
</tr>
</table>
<div id="id1">
  	   여기는 서울
       <p> 단락 </p>
</div>
</body>
</html>>

In [62]:
s.select_one

<bound method Tag.select_one of
<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8"/>
<title>나의 타이틀</title>
</head>
<body bgcolor="green" text="white">
<h1>짱구네 집</h1>
<p>단락. paragraph</p>
<div>
<a href="http://func.kr">우리카페</a>
</div>
<div>
<a href="http://www.naver.com">네이버</a>
</div>
<div>
<a href="http://w3schools.com">공부하러가자</a>
</div>
<table align="center" border="1" style="width:50%">
<tr align="center">
<th>이름</th>
<th>소속</th>
<th>연봉</th>
</tr>
<tr align="center">
<td>류현진</td>
<td>토론토</td>
<td>1500</td>
</tr>
<tr align="center">
<td>김하성</td>
<td>센디에이고</td>
<td>700</td>
</tr>
<tr align="center">
<td>양현종</td>
<td>텍사스</td>
<td>800</td>
</tr>
</table>
<div id="id1">
  	   여기는 서울
       <p> 단락 </p>
</div>
</body>
</html>>

In [63]:
s.td(all)

[]

In [65]:
s.find_all('a')

[<a href="http://func.kr">우리카페</a>,
 <a href="http://www.naver.com">네이버</a>,
 <a href="http://w3schools.com">공부하러가자</a>]

In [66]:
s.find('a').get_text()

'우리카페'

In [70]:
s_name = s.find_all('a')
s_name

[<a href="http://func.kr">우리카페</a>,
 <a href="http://www.naver.com">네이버</a>,
 <a href="http://w3schools.com">공부하러가자</a>]

In [68]:
for i in s_name:
    print(i)

<a href="http://func.kr">우리카페</a>
<a href="http://www.naver.com">네이버</a>
<a href="http://w3schools.com">공부하러가자</a>

In [72]:
s.select('table > th > tr')

[]

In [73]:
s.select('head > title')

In [75]:
s.select('table > tr > td')

[<td>류현진</td>,
 <td>토론토</td>,
 <td>1500</td>,
 <td>김하성</td>,
 <td>센디에이고</td>,
 <td>700</td>,
 <td>양현종</td>,
 <td>텍사스</td>,
 <td>800</td>]

In [76]:
s.select_one('table > tr > td')

naver 영화 페이지에서 랭킹 데이터만 가져오기

In [78]:
import requests
from bs4 import BeautifulSoup

data = requests.get('https://movie.naver.com/movie/sdb/rank/rmovie.nhn')
soup = BeautifulSoup(data.text, 'html.parser')

movies = soup.select('#old_content > table > tbody > tr')

for i in movies:
    a = i.select_one('td.title > div > a')
    if a is not None:
        print(a.text)

크루엘라
분노의 질주: 더 얼티메이트
파이프라인
보이저스
극장판 귀멸의 칼날: 무한열차편
도라에몽: 스탠바이미 2
스파이럴
애플
비와 당신의 이야기
500일의 썸머
굴뚝마을의 푸펠
컨저링 3: 악마가 시켰다
아미 오브 더 데드
캐시트럭
라이더스 오브 저스티스
노매드랜드
더 스파이
혼자 사는 사람들
인트로덕션
크루즈 패밀리: 뉴 에이지
이터널스
미나리
내일의 기억
프로페서 앤 매드맨
아들의 이름으로
브리짓 존스의 일기
내가 죽기를 바라는 자들
썰
낫아웃
좋은 빛, 좋은 공기
베놈 2: 렛 데어 비 카니지
콰이어트 플레이스 2
극장판 콩순이: 장난감나라 대모험
써니
발신제한
쇼크 웨이브 2
2067
킬러의 보디가드 2
잭 스나이더의 저스티스 리그
인셉션
여고괴담 여섯번째 이야기 : 모교
어른들은 몰라요
진범
아이들은 즐겁다
그린 북
노바디
자산어보
명탐정 코난: 비색의 탄환
분노의 질주: 더 세븐
비밀의 정원

## 네이버 API 연결하기

In [ ]:
import os
import sys
import urllib.request
client_id = "client_secret = "encText = urllib.parse.quote("deutschland")  # 검색할 단어 넣기
url = "https://openapi.naver.com/v1/search/webkr?query=" + encText # json 결과
# url = "https://openapi.naver.com/v1/search/blog.xml?query=" + encText # xml 결과
request = urllib.request.Request(url)
request.add_header("X-Naver-Client-Id",client_id)
request.add_header("X-Naver-Client-Secret",client_secret)
response = urllib.request.urlopen(request)
rescode = response.getcode()
if(rescode==200):
    response_body = response.read()
    print(response_body.decode('utf-8'))
else:
    print("Error Code:" + rescode)

In [83]:
## 업그레이드 버전

import os
import re
import sys
import json
import pandas as pd
import urllib.request

client_id = "sM61kgPhnufBKr9u_AhI"
client_secret = "7DBm_hlqGN"

query = urllib.parse.quote(input("검색어를 입력 하세요 : ")) 

cols = ['Title', 'Link', 'Description']
df = pd.DataFrame(columns=cols)

count = 0

for i in range(1, 100, 10):
    url = "https://openapi.naver.com/v1/search/webkr?query=" + query \
     + '&display=' + str(10) + '&start=' + str(i)
    request = urllib.request.Request(url)
    request.add_header("X-Naver-Client-Id",client_id)
    request.add_header("X-Naver-Client-Secret",client_secret)
    response = urllib.request.urlopen(request)
    rescode = response.getcode()
    if(rescode==200):
        response_body = response.read()
        response_dict = json.loads(response_body.decode('utf-8'))
        items = response_dict['items']

        for j in range(0, len(items)):
            p = re.compile('<.*?>')
            title = re.sub(p, '', items[j]['title'])
            link = items[j]['link']
            description = re.sub(p, '', items[j]['description'])
            df.loc[count] = [title, link, description]
            print(count, end = ' ')
            count += 1
    else:
        print("Error Code:" + rescode)

검색어를 입력 하세요 : 크루엘라
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [84]:
df

                                          Title  ...                                        Description
0                                   크루엘라 | 다음영화  ...  크루엘라 D-2 Cruella, 2021 개봉 2021.05.26 장르 드라마/범죄...
1                  Cruella Reviews - Metacritic  ...  Summary:Set in 1970s London amidst the punk ro...
2                           크루엘라 (2021) - 왓챠피디아  ...  크루엘라 2021 ・ 액션/코미디/범죄 ・ 미국 보고싶어요 평가하기... 출연/제작...
3     [크루엘라]&lt;영화상세 &lt; 영화 | 영화 그 이상의 감동. CGV  ...   검색 영화 영화상세 VIP LOUNGE Club서비스 영화상세 크루엘라 현재상영중...
4                                  크루엘라 - 코리아필름  ...  ▶ 크루엘라 Cruella &quot; 재능은 있지만 밑바닥 인생을 살던 '에스텔라...
..                                          ...  ...                                                ...
95             익스트림무비 - 크루엘라 필름마크로 크루엘라 오티 구합니다  ...  굿즈나눔 영화 관련 굿즈 나눔 게시판입니다 크루엘라 필름마크로 크루엘라 오티 구합니...
96  ‘크루엘라’ 엠마 스톤, 역대급 파격 비주얼 “유일한 크루엘라” - 싱글리스트  ...  디즈니 영화 ‘크루엘라’가 1차 보도스틸을 전격 공개했다.공개되는 비주얼마다 폭발적...
97                         크루엘라 통합 검색 결과 - 중앙일보  ...  크루엘라통합 검색 결과 상세검색 뉴스 &quot;난 원래 약간 돌았어... com/...
98            익스트림무비 - 크루엘라 오티북으로 크루엘라 오티 구합니다!  ...  굿즈나눔 영화 관련 굿즈 나눔 게시판입니다 크루엘라 오티북으로 크루엘라 오티 구합니...
99                          #크루엘라 태그 모음 | 1boon  ...  디즈니 역대급 악역, '찐광기' 그대로 실사화된다 5,590 미국보다 37일 먼저 ...

[100 rows x 3 columns]

In [85]:
df.shape

(100, 3)

In [86]:
df.index

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
            34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
            51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
            68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
            85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99],
           dtype='int64')

In [88]:
df.describe()

       Title  ...                                        Description
count    100  ...                                                100
unique    83  ...                                                 89
top     크루엘라  ...  SHELTER2020 Shelter Inc. All right reserved. 이...
freq       5  ...                                                  3

[4 rows x 3 columns]

In [92]:
## 업그레이드 버전_2 지식인

import os
import re
import sys
import json
import pandas as pd
import urllib.request

client_id = "sM61kgPhnufBKr9u_AhI"
client_secret = "7DBm_hlqGN"

query = urllib.parse.quote(input("검색어를 입력 하세요 : ")) 

cols = ['Title', 'Link', 'Description']
kin_df = pd.DataFrame(columns=cols)

count = 0

for i in range(1, 100, 10):
    url = "https://openapi.naver.com/v1/search/kin?query=" + query \
     + '&display=' + str(10) + '&start=' + str(i) + '&sort=' + 'sim'
    request = urllib.request.Request(url)
    request.add_header("X-Naver-Client-Id",client_id)
    request.add_header("X-Naver-Client-Secret",client_secret)
    response = urllib.request.urlopen(request)
    rescode = response.getcode()
    if(rescode==200):
        response_body = response.read()
        response_dict = json.loads(response_body.decode('utf-8'))
        items = response_dict['items']

        for j in range(0, len(items)):
            p = re.compile('<.*?>')
            title = re.sub(p, '', items[j]['title'])
            link = items[j]['link']
            description = re.sub(p, '', items[j]['description'])
            kin_df.loc[count] = [title, link, description]
            print(count, end = ' ')
            count += 1
    else:
        print("Error Code:" + rescode)

검색어를 입력 하세요 : 크루엘라
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [93]:
kin_df

                    Title  ...                                        Description
0                 크루엘라 영화  ...  크루엘라 영화 부모님이랑 함께 봐도 괜찮은 내용인가요? 크루엘라 감독 크레이그 질레...
1          메가박스에서 크루엘라 티켓  ...  메가박스에서 종이티켓을 크루엘라 티켓?으로 바꿔주잖아요 그거 나중에 영화관에서 따로...
2                 크루엘라 영화  ...  제가 5월 26일날 개봉하는 크루엘라 영화를 보려고 하는데 이거 관련된 영화가 전에...
3                 크루엘라 내용  ...  크루엘라 예고편 봤는데 도저히 무슨 내용인지 모르겠어요..누가 보고 알려주세요.. ...
4                 크루엘라 영화  ...  크루엘라 폰으로는 못보나요? 영화관에서 못보니까 집에서 보려하는데 네이버 시리즈 온...
..                    ...  ...                                                ...
95   [내공15]만화제목 캐릭터 알려주세요  ...  ... 시장슈나이더크루엘라 금붕어 주의보 -금비 교피 세미 수현 남우 이만호 소 다...
96  이러한 장르의 클럽 음악 추천해주세요!  ...  ... krewella - enjoy the ride http://www.youtu...
97       일렉트로닉 음악 추천해주세요!  ...  ... krewella -enjoy the ride http://www.youtub...
98          이런풍 영화 추천해주세요  ...  ... 101 달마시안 / 101 Dalmatians(1996) 감독: 스티븐 헤렉...
99        영어 해석 좀 부탁드립니다.  ...  ... -그리고 그들은 크루엘라의 예전 시골 땅에서 나온뒤 그들의 보스의 말을 기다...

[100 rows x 3 columns]

In [99]:
## 업그레이드 버전_3 블로그

import os
import re
import sys
import json
import pandas as pd
import urllib.request

client_id = "sM61kgPhnufBKr9u_AhI"
client_secret = "7DBm_hlqGN"

query = urllib.parse.quote(input("검색어를 입력 하세요 : ")) 

cols = ['Title', 'Link', 'Description', 'bloggername', 'bloggerlink']
blog_df = pd.DataFrame(columns=cols)

count = 0

for i in range(1, 100, 10):
    url = "https://openapi.naver.com/v1/search/blog?query=" + query \
     + '&display=' + str(10) + '&start=' + str(i) 
    request = urllib.request.Request(url)
    request.add_header("X-Naver-Client-Id",client_id)
    request.add_header("X-Naver-Client-Secret",client_secret)
    response = urllib.request.urlopen(request)
    rescode = response.getcode()
    if(rescode==200):
        response_body = response.read()
        response_dict = json.loads(response_body.decode('utf-8'))
        items = response_dict['items']

        for j in range(0, len(items)):
            p = re.compile('<.*?>')
            title = re.sub(p, '', items[j]['title'])
            link = items[j]['link']
            description = re.sub(p, '', items[j]['description'])
            blogger_name = items[j]['bloggername']
            blogger_link = items[j]['bloggerlink']
            blog_df.loc[count] = [title, link, description, blogger_name, blogger_link]
            print(count, end = ' ')
            count += 1
    else:
        print("Error Code:" + rescode)

blog_df

검색어를 입력 하세요 : 액트 오브 킬링
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

                                           Title  ...                           bloggerlink
0                        네이버 탈탈 털어먹기 프로젝트-액트오브킬링  ...       https://blog.naver.com/eehclfdl
1         미얀마의 군부 쿠테다, 다큐멘터리 추천 &lt;액트 오브 킬링&gt;  ...       https://blog.naver.com/daliboni
2                          영화감상: 액트 오브 킬링 (2013)  ...       https://blog.naver.com/garbeyra
3               &lt;액트 오브 킬링&gt;, 인도네시아 동족상잔의 민낯  ...        https://blog.naver.com/ahn0312
4    조슈아 오펜하이머 - 액트 오브 킬링(The Act of Killing...   ...       https://blog.naver.com/kanttnak
..                                           ...  ...                                   ...
95  부산 평론가 땡갈이 - 액트 오브 킬링(The Act of Killing...   ...     https://blog.naver.com/audrud9275
96                                 [영화] 액트 오브 킬링  ...        https://blog.naver.com/elmaeng
97                         액트 오브 킬링 내가 궁금했던거 해결촁  ...  https://blog.naver.com/dofuton197943
98         조슈만 오펜하이머 감독, 영화 &lt;액트 오브 킬링&gt;을 보고  ...      https://blog.naver.com/slskrkdhk
99      어떻게 태어나 길러지고 살아가는가 - 영화 &lt;액트 오브 킬링&gt;  ...     https://blog.naver.com/youthmeans

[100 rows x 5 columns]