<a href="https://colab.research.google.com/github/dohyeon-kim012/python-1./blob/main/%EC%97%B0%EC%8A%B5%EC%9E%A5_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = "Hello"
b = 10

In [ ]:
a, b

('Hello', 10)

In [ ]:
print( a, 10, 100, "hi", "bye", True, 3.14, b, sep="" )

Hello10100hibyeTrue3.1410

In [ ]:
_student = "minho"

In [ ]:
_student

'minho'

In [ ]:
_student = "dodo"

In [ ]:
_student

'dodo'

In [ ]:
name = "김도도"
print(f'제 이름은 "'{}'"입니다.'.format(name))

SyntaxError: ignored

In [ ]:
print('제 이름은 "'+name+'" 입니다.')

제 이름은 "김도도" 입니다.

In [ ]:
print("mon", "tue", "wed", sep="/")

mon/tue/wed

In [ ]:
a = 'hello world'
a.replace('h', 'j')

'jello world'

In [ ]:
name = '김도도'
height = 165

print("제 이름은 {}이구요, 키는 {}cm에요".format(name, height))

제 이름은 김도도이구요, 키는 165cm에요

In [ ]:
location = '과천'
weather = '비가 온대요'

print("제가 사는 곳은 {}이구요, 지금 밖에는 {}.".format(location, weather))

제가 사는 곳은 과천이구요, 지금 밖에는 비가 온대요.

In [ ]:
sentence = "오늘/날씨가/참/좋습니다."
sentence.split('')

ValueError: ignored

In [ ]:
sentence.split()

['오늘', '날씨가', '참', '좋습니다.']

In [ ]:
temp1 = "20.3"
float(temp1) + 3

23.3

In [ ]:
temp2 = "True"
bool(temp2) + True

2

In [ ]:
bool(temp2)

True

In [ ]:
temp3 = "abc"
float(temp3)

ValueError: ignored

In [ ]:
list1 = []
print(list1)

[]

In [ ]:
list2 = [3, 1, 2, 5, 7]
print(list2)

[3, 1, 2, 5, 7]

In [ ]:
list2[-1] = "hello"
print(list2)

[3, 1, 2, 5, 'hello']

In [ ]:
print("list2의 길이 : {}".format(len(list2)))

list2의 길이 : 5

In [ ]:
list3 = [1, 1, 2, 3, 4, 5, 5]
print(list3)

[1, 1, 2, 3, 4, 5, 5]

In [ ]:
text1 = "sentence"
print(list(text1))

['s', 'e', 'n', 't', 'e', 'n', 'c', 'e']

In [ ]:
print(text1)

sentence

In [ ]:
a = [1, 2, 3, 4, 5]
a.insert(1, 4)

a

[1, 4, 2, 3, 4, 5]

In [ ]:
a[2] = 1
a

[1, 4, 1, 3, 4, 5]

In [ ]:
a.remove(1)
a

[4, 1, 3, 4, 5]

In [ ]:
del a[1]
a

[4, 3, 4, 5]

In [ ]:
b = a.pop(0)
b, a

(3, [4, 5])

In [ ]:
a.index(5)

1

In [ ]:
print( 3 in a )

False

In [ ]:
a = [5, 2, 3, 1, 7, 6, 9]
a.sort()
a

[1, 2, 3, 5, 6, 7, 9]

In [ ]:
a = [5, 2, 3, 1, 7, 6, 9]
b = sorted(a)

In [ ]:
a

[5, 2, 3, 1, 7, 6, 9]

In [ ]:
b

[1, 2, 3, 5, 6, 7, 9]

In [ ]:
a.sort(reverse=True)
a

[9, 7, 6, 5, 3, 2, 1]

In [ ]:
a = 1, 2, 3
a

(1, 2, 3)

In [ ]:
a1, a2, a3 = a
a1, a2, a3

(1, 2, 3)

In [ ]:
_, a1, _ = a

In [ ]:
a1

2

In [ ]:
text = "sentence"
text[2] = "1"

TypeError: ignored

In [ ]:
text_list = list(text)
text_list

['s', 'e', 'n', 't', 'e', 'n', 'c', 'e']

In [ ]:
text_list[2] = "i"
text_list

['s', 'e', 'i', 't', 'e', 'n', 'c', 'e']

In [ ]:
b = str(text_list)
b

"['s', 'e', 'i', 't', 'e', 'n', 'c', 'e']"

In [ ]:
text_list

['s', 'e', 'i', 't', 'e', 'n', 'c', 'e']

In [ ]:
''.join(text_list)

'seitence'

In [ ]:
'*'.join(text_list)

's*e*i*t*e*n*c*e'

In [ ]:
'r'+'#'.join(text_list)

'rs#e#i#t#e#n#c#e'

In [ ]:
single_list = ["트와이스", "블랙핑크", "방탄"]
single_list[0][1:3]

'와이'

In [ ]:
tup_tup = ( (1, (2, 3)), 4, (5, 6), 7, 8, 9)
((n1, (n2, n3)), n4, (n5, n6), n7, n8, n9) = tup_tup

In [ ]:
list_ = [n1,n2,n3 , n4 , n5 , n6, n7, n8, n9]

In [ ]:
list(list_)

TypeError: ignored

In [ ]:
''.join(list_)

TypeError: ignored

In [ ]:
print(list_.split(""))

AttributeError: ignored

In [ ]:
a = {1, 2, 3}
b = {2, 3, 4}

print("a와 b의 교집합 : {}".format(a.intersection(b)))

a와 b의 교집합 : {2, 3}

In [ ]:
print("a와 b의 합집합 : {}".format(a.union(b)))

a와 b의 합집합 : {1, 2, 3, 4}

In [ ]:
print("a와 b의 차집합 : {}".format(a.difference(b)))

a와 b의 차집합 : {1}

In [ ]:
c = {2, 3}
print("b는 a의 부분 집합인가? : {}".format(b.issubset(a)))
print("c는 a의 부분 집합인가? : {}".format(c.issubset(a)))

b는 a의 부분 집합인가? : False
c는 a의 부분 집합인가? : True

In [ ]:
print("c는 c의 부분 집합인가? : {}".format(c.issubset(c)))

c는 c의 부분 집합인가? : True

In [ ]:
fruit = {"banana", "apple", "grape"}
print(fruit)

{'banana', 'apple', 'grape'}

In [ ]:
a = {
    "Korea" : "Seoul",
     "Canada" : "Ottawa",
     "Japan" : "Tokyo"
}

In [ ]:
a["Japan"]

'Tokyo'

In [ ]:
a["Canada"]

'Ottawa'

In [ ]:
a["China"] = "Beijing"
print(a)

{'Korea': 'Seoul', 'Canada': 'Ottawa', 'Japan': 'Tokyo', 'China': 'Beijing'}

In [ ]:
a["Japan"] = "Kyoto"
print(a)

{'Korea': 'Seoul', 'Canada': 'Ottawa', 'Japan': 'Kyoto', 'China': 'Beijing'}

In [ ]:
a = {"a" : 1, "b" : 2, "c" : 3}
b = {"d" : 1, "e" : 2, "f" : 3}

In [ ]:
a.update(b)

In [ ]:
print(a)

{'a': 1, 'b': 2, 'c': 3, 'd': 1, 'e': 2, 'f': 3}

In [ ]:
a = {"a" : 1, "b" : 2, "c" : 3}
b = {"a" : 4, "e" : 5, "c" : 6}
a.update(b)
print(a)

{'a': 4, 'b': 2, 'c': 6, 'e': 5}

In [ ]:
a = {
    'a':1,
    'b':2,
    'c':3
}

print(a)

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
a.pop('b')

2

In [ ]:
a

{'a': 1, 'c': 3}

In [ ]:
del a['a']
print(a)

{'c': 3}

In [ ]:
a = {
    'a':1,
    'b':2,
     'c':3
}

a.clear()
print(a)

{}

In [ ]:
a = {
    'a':1,
     'b':2,
     'c':3
}

print('a' in a)
print('d' in a)

True
False

In [ ]:
'a' in a

True

In [ ]:
print(a.get('d'))

None

In [ ]:
print(a)

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
print(a.keys())

dict_keys(['a', 'b', 'c'])

In [ ]:
print(a.values())

dict_values([1, 2, 3])

In [ ]:
print(a.items())

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [ ]:
if 6>4 : 
    print("6이 5보다 크다")
    print("hello")
    if 6 == 4 + 2 : 
        print("이 시점 부터 코드 시작")
        if 6 % 2 != 0 :
            print("6은 짝수 입니다")

print("bye")

6이 5보다 크다
hello
이 시점 부터 코드 시작
bye

In [ ]:
a = 3
b = 4

if a < b : 
    print("a가 b보다 작아요")

    if a + 1 == b:
        print("a에 1을 더했더니 b와 같아졌어요")

a가 b보다 작아요
a에 1을 더했더니 b와 같아졌어요

In [ ]:
a = 5
b = 3

if a < b :
    print("hello")
elif a > b:
    print("bytes")
elif a > b+1 : 
    print("great!")
else:
    print("hi")

bytes

In [ ]:
a = 5
b = 3
c = 2
d = 4

print(a > b or c < d)
print(a < b or c
      > d)

True
False

In [ ]:
score = 50

if score >= 90 and score <= 100:
    print('A')
elif score >= 80 and score < 90:
    print('B')
elif score >= 70 and score < 80:
    print('C')
elif score >= 60 and score < 70:
    print('D')
else:
    print('F')

F

In [ ]:
 score = -10

 if score >= 90 and score <= 100:
    print('A')
elif score >= 80 and score < 90:
    print('B')
elif score >= 70 and score < 80:
    print('C')
elif score >= 60 and score < 70:
    print('D')
elif score < 0 or score > 100:
    print("잘못된 점수 입니다.")
else:
    print('F')

잘못된 점수 입니다.

In [ ]:
count = 1
sum = 0

threshold = 10

while count <= threshold:
    print("count : {} / ".format(count), end="")

    sum += count
    count += 1

    print("sum : {}".format(sum))

print("종료")

count : 1 / sum : 1
count : 2 / sum : 3
count : 3 / sum : 6
count : 4 / sum : 10
count : 5 / sum : 15
count : 6 / sum : 21
count : 7 / sum : 28
count : 8 / sum : 36
count : 9 / sum : 45
count : 10 / sum : 55
종료

In [ ]:
a = [1, 10, 12, 3, 5, 20, 44]

idx = 0

while idx < len(a):
    print(a[idx])
    idx += 1

1
10
12
3
5
20
44

In [ ]:
idx = 0
while idx < len(a):
    num = a[idx]

    if num < 20:
        print(num)
    
    idx += 1

1
10
12
3
5

In [ ]:
count = 0

while count < 99999:
    count += 1
    print(count)

    if count == 10:
        print("중지!")
        break

1
2
3
4
5
6
7
8
9
10
중지!

In [ ]:
count = 0

while count < 20:
    count += 1

    if count == 3 or count == 5:
        continue

    if count == 7:
        print("7 만났어요!")
        continue

    print(count)

1
2
4
6
7 만났어요!
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
a = [1, 7, 3, 4, 8]

for item in a:
    print(item)

1
7
3
4
8

In [ ]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for ch in "hello1":
    print(ch)

h
e
l
l
o
1

In [ ]:
a = (1, 10, 3, 4, 5)
for num in a:
    if num % 2 == 0:
        print(f"{num}은 짝수입니다.")
    else:
        print(f"{num}은 홀수입니다")

1은 홀수입니다
10은 짝수입니다.
3은 홀수입니다
4은 짝수입니다.
5은 홀수입니다

In [ ]:
meal = {
    'breakfast' : '라면',
    'lunch' : '피자',
    'dinner' : '닭갈비'
}

In [ ]:
for key in meal : 
    print(key, "==>", meal[key])

breakfast ==> 라면
lunch ==> 피자
dinner ==> 닭갈비

In [ ]:
print(key, "==>", meal[key])

dinner ==> 닭갈비

In [ ]:
for key in meal.keys():
    print(key)

breakfast
lunch
dinner

In [ ]:
for value in meal.values():
    print(value)

라면
피자
닭갈비

In [ ]:
for key, value in meal.items():
    print(key, value)

breakfast 라면
lunch 피자
dinner 닭갈비

In [ ]:
meal

{'breakfast': '라면', 'dinner': '닭갈비', 'lunch': '피자'}

In [ ]:
for item in meal.items():
    print(item)

('breakfast', '라면')
('lunch', '피자')
('dinner', '닭갈비')

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]

for i in a:
    for j in b:
        print(i*j)

4
5
6
8
10
12
12
15
18

In [ ]:
dans = [2, 3, 4, 5, 6, 7, 8, 9]
times = [1, 2, 3, 4, 5, 6, 7, 8, 9]

for dan in dans:
    print(f"{dan}단 입니다.")
    for time in times:
        print(f"{dan} * {time} = {dan * time}")
    print()

2단 입니다.
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3단 입니다.
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4단 입니다.
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5단 입니다.
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6단 입니다.
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7단 입니다.
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8단 입니다.
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9단 입니다.
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [ ]:
dans_1 = list(range(2, 10, 2))
print(dans_1)

TypeError: ignored

# 클래스와 객체

In [ ]:
a = [1, 2, 4, 5]
a.append(5)
a

[1, 2, 4, 5, 5]

In [ ]:
type(a)

list

In [ ]:
class Person:
    pass

In [ ]:
bob = Person()
cathy = Person()

In [ ]:
# a = list()
# b = list()

In [ ]:
type(bob)

__main__.Person

In [ ]:
print(Person)

<class '__main__.Person'>

In [ ]:
class Person:
    def __init__(self):
        print(self, 'is generated')

In [ ]:
p1 = Person()
p2 = Person()

<__main__.Person object at 0x7fe8f4686f10> is generated
<__main__.Person object at 0x7fe8f4688650> is generated

In [ ]:
class Person:
    def __init__(self):
        print(self, 'is generated')
        self.name = "김도도"
        self.age = 28

In [ ]:
p1 = Person()
p2 = Person()

p2.name = "김도현"
p2.age = 29

print(p1.name, p1.age)
print(p2.name, p2.age)

<__main__.Person object at 0x7fe8f46c1310> is generated
<__main__.Person object at 0x7fe8f46c1350> is generated
김도도 28
김도현 29

In [ ]:
p3 = Person()

p3.name = "장정자"
print(p3.name, p3.age)

<__main__.Person object at 0x7fe8f4688090> is generated
장정자 28

In [ ]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

In [ ]:
p1 = Person('김도도', 28)

In [ ]:
print(p1.name, p1.age, p3.name, p3.age)

김도도 28 장정자 28

In [ ]:
class Person:
    def __init__(self, name, age=10):
        print("self : ", self)
        self.name = name
        self.age = age

    def sleep(self):
        print("self : ", self)
        print(self.name, "님은 침대에서 주무신다")

In [ ]:
p1 = Person("김도도")
p2 = Person("도도")

print()

p1.sleep()
p2.sleep()

self :  <__main__.Person object at 0x7fe8f4602990>
self :  <__main__.Person object at 0x7fe8f4688dd0>

self :  <__main__.Person object at 0x7fe8f4602990>
김도도 님은 침대에서 주무신다
self :  <__main__.Person object at 0x7fe8f4688dd0>
도도 님은 침대에서 주무신다

In [ ]:
class Counter:

    def __init__(self):
        print("class Counter")
        self.num = 0

    def increment(self):
        self.num += 1

    def decrement(self):
        self.num -= 1

    def reset(self):
        self.num = 0

    def print(self):
        print("현재 값은 : ", self.num)

In [ ]:
c1 = Counter()

c1.print()

c1.increment()
c1.increment()

c1.print()

c1.decrement()
c1.decrement()

c1.print()

class Counter
현재 값은 :  0

현재 값은 :  2
현재 값은 :  0

In [ ]:
c2 = Counter()

class Counter

In [ ]:
Counter()

c2.decrement()
c2.decrement()

c2.print()

c2.reset()
c2.print()

class Counter
현재 값은 :  -2
현재 값은 :  0

In [ ]:
class Math:

    def add(a, b):
        return a + b

    def multiply(a, b):
        return a * b

    # def print_member_num(self=0):
    #     print(self)

    def __init__(self):
        print(self=1)

In [ ]:
Math.add(10, 20)

30

In [ ]:
Math.multiply(10, 20)

200

In [ ]:
Math.print_member_num()

0

In [ ]:
Math(1)

TypeError: ignored

In [ ]:
class Animal:

    def __init__(self, name):
        print("동물")
        self.name = name

    def eat(self, food):
        print("{}가 {}를 먹습니다.".format(self.name, food))

class Dog(Animal):

    def __init__(self, name):
        print("강아지", name)
        self.name = name

In [ ]:
myDog = Dog("배추")
myDog.eat("파프리카")

강아지
배추가 파프리카를 먹습니다.

In [ ]:
Dog("배추")

# 함수

In [ ]:
a = [1, 2, 3, 4]
length = len(a)
print(length)

4

In [ ]:
a.append(5)
print(a)

[1, 2, 3, 4, 5]

In [ ]:
def add(x, y):
    n = x + y
    return n

In [ ]:
result = add(100, 200)
print(result)

300

In [ ]:
def mul(x, y):
    n = x * y
    return n

In [ ]:
print(add(10, 20))
print(mul(10, 20))

30
200

In [ ]:
def div(x, y):
    print(f"나누기 수행 : {x} / {y}")
    return x / y

print("Hello")
c = div(10, 3)
print(c)

Hello
나누기 수행 : 10 / 3
3.3333333333333335

In [ ]:
def a():
    print("haha")

def print_haha():
    print("haha")

In [ ]:
def b(x, y):
    print(f"{x} + {y}")

def print_x_y(x, y):
    print(f"{x} + {y}")

In [ ]:
def sub(x, y):
    print(f"빼기\n{x} - {y}")
    return x - y

a = sub(10, 7)
print('=', a)

빼기
10 - 7
= 3

In [ ]:
b = sub(10, 0.6)
print(b)

빼기
10 - 0.6
9.4

In [ ]:
def print_param(x, y=10, z=5):
    print(f"x : {x} / y : {y} / z : {z}")

print_param(1, 2, 3)
print_param(1)
print_param(1, 100)

x : 1 / y : 2 / z : 3
x : 1 / y : 10 / z : 5
x : 1 / y : 100 / z : 5

In [ ]:
def test(x, y, z=30):
    print(f"x : {x} / y : {y} / z : {z}")

test(10, 20, 30)
test(z=10, x=30, y=1)

x : 10 / y : 20 / z : 30
x : 30 / y : 1 / z : 10

In [ ]:
test(0, y=1)

x : 0 / y : 1 / z : 30

In [ ]:
def user_info(userid, height, weight='?', is_print_weight=False, national="Southkorea"):
    if is_print_weight:
        print(userid, height, weight, national)
    else:
        print(userid, height, national)

In [ ]:
user_info("dodo", "165", is_print_weight=True)

dodo 165 ? Southkorea

In [ ]:
def foo():
    return "hello"

print(foo())

hello

In [ ]:
def goo():
    a = 10
    b = 20
    print(a+b)
    print(a*b)
    # return

goo()

30
200

In [ ]:
result = goo()
print(result)

30
200
None

In [ ]:
def koo():
    print("koo")
    print("hello")

koo()

koo
hello

In [ ]:
result = koo()
print(result)

koo
hello
None

In [ ]:
def mul2(x, y):
    if x> 10:
        return x * y
    
    return (x + 2) * y

In [ ]:
mul2(1, 2)

6

In [ ]:
def add_mul(x, y):
    print(f"{x}, {y}")
    add_result = x + y
    mul_result = x * y
   
    return add_result, mul_result

In [ ]:
result = add_mul(10, 20)
print(result)

10, 20
(30, 200)

In [ ]:
r1, r2 = add_mul(10, 20)

print(r1)
print(r2)

30
200

In [ ]:
def return_many():
    return 10, "hallo", {"Morgen" : "Nacht"}

return_many()

(10, 'hallo', {'Morgen': 'Nacht'})

In [ ]:
r = return_many()
v1, _, __ = r
print(v1)

10

In [ ]:
r

(10, 'hallo', {'Morgen': 'Nacht'})

In [ ]:
print("a", "b", 10, 20)

a b 10 20

In [ ]:
def test2(**kwargs):
    print("들어온 파라미터 : {}".format(kwargs))

    for item in kwargs.items():
        print(item)

In [ ]:
test2(
    name="도도",
    age=28,
    email="do.hyeon@gmail"
)

들어온 파라미터 : {'name': '도도', 'age': 28, 'email': 'do.hyeon@gmail'}
('name', '도도')
('age', 28)
('email', 'do.hyeon@gmail')

In [ ]:
def test3(*args, **kwargs):
    print(args)
    print(kwargs)

test3(10, 20, 30, a=1, b=2, c=3)

(10, 20, 30)
{'a': 1, 'b': 2, 'c': 3}

In [ ]:
test3(1, 2)

(1, 2)
{}

In [ ]:
def square2(x):
    return x**2

square2(5)

25

In [ ]:
square = lambda x: x ** 2
square(5)

25

In [ ]:
def add(x, y):
    return x + y

add(10, 20)

30

In [ ]:
add2 = lambda x, y : x + y
add2(10, 20)

30

In [ ]:
a = lambda x, y : x _ y
a(1, 2)

SyntaxError: ignored

In [ ]:
names = ["alex", "bob", "teddy"]

def str_len(s):
    return len(s)

In [ ]:
str_len("bob")

3

In [ ]:
names.sort(key=str_len)
names

['bob', 'alex', 'teddy']

In [ ]:
names.sort(key=lambda s : len(s))
names

['bob', 'alex', 'teddy']

## 숙제

In [ ]:
# name = str(input())
# age = int(input())

def Person(*name, **age):

    # if age_mean :
    #     age_mean = *age.mean()
    #     print(name, age, age_mean)
        

    # else : 
    #     print(name, age)

        
    for item_name in name.items():

        for item_age in age.items():
            print(item_name, item_age)

In [ ]:
p1 = Person("김도도", 28)

p1()

AttributeError: ignored