<a href="https://colab.research.google.com/github/dohyeon-kim012/python-1./blob/main/%EC%9D%B8%EA%B3%B5%EC%A7%80%EB%8A%A5%20%ED%81%90%EB%A0%88%EC%9D%B4%ED%84%B0%202%EC%B0%A8/02.pandas%20%EB%B3%B5%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas

In [ ]:
import pandas as pd

### Series
* Series - 한 종류의 데이터를 모아 놓은 것

In [ ]:
pd.Series([1, 2, 3, 4])

0    1
1    2
2    3
3    4
dtype: int64

In [ ]:
# 자료형이 제일 큰 타입이 시리즈의 타입이 된다
pd.Series([1, 2, 3, 4.6])

0    1.0
1    2.0
2    3.0
3    4.6
dtype: float64

### Dataframe
* DataFrame - Series 가 여러 개 모여서 하나의 데이터 시트를 표현

* 방법 1. list로만 만들기 (권장x)

In [ ]:
sample_data = [["김도도", 28, 165],
               ["장정자", 60, 160],
               ["기며노", 26, 163]]
df1 = pd.DataFrame(sample_data)
df1

     0   1    2
0  김도도  28  165
1  장정자  60  160
2  기며노  26  163

In [ ]:
# 제목의 컬럼을 리스트로 지정하기
df1.columns = ['이름', '나이', '키']
df1

    이름  나이    키
0  김도도  28  165
1  장정자  60  160
2  기며노  26  163

* 방법 2. dict로 만들기 -ver1
    * 웹 페이지 스크래이핑 하고 나서 사용하기 좋음
    
```
딕셔너리(dict)의 key - 컬럼명
    딕셔너리(dict)의 value - '반드시'리스트로 이루어져야함(시리즈)
    모든 value의 리스트는 길이가 같아야 함
```

In [ ]:
sample_data = {
    "이름" : ["김도도", "장정자", "기며노"],
    "나이" : [28, 61, 26],
    "키" : [165, 160, 163]
}

df2 = pd.DataFrame(sample_data)
df2

    이름  나이    키
0  김도도  28  165
1  장정자  61  160
2  기며노  26  163

In [ ]:
# 모든 value의 list의 길이는 같아야 한다
sample_data = {
    "이름" : ["김도도", "장정자", "기며노"],
    "나이" : [28, 61, 26, 70],
    "키" : [165, 160, 163]
}

df2 = pd.DataFrame(sample_data)
df2

ValueError: ignored

* 방법 3. dict로 만들기 - ver2
    * json 크롤링 했을 때, 데이터를 바로 DataFrame화 시키고 싶을 때 사용
    * json을 이용해 데이터를 가져올 때 일반적인 모습

### JSON
* JavaScript Object Notation : 자바스크립트 객체 표현 방식
* python의 dict 와 똑같이 생겼음
    * 단, 모든 키 값이 전부 다 문자열이어야 함

```
json_data = {
    'result' : 200,
    'datas' : [
        {
            '이름' : 
            '나이' : 
            '키' :
        },
        {
            ...
        },
        {
            ...
        }
    ]
}
```

In [ ]:
sample_data = [
  {
    "이름" : "소민호",
    "나이" : 34,
    "키": 180.1
  },
  {
    "이름": "김땡땡",
    "나이" : 33,
    "키": 175.5
  },
  {
    "이름" : "박땡땡",
    "나이" : 28,
    "키": 183.2
  }
]
sample_data   ## JSON 의 형태 보기

[{'나이': 34, '이름': '소민호', '키': 180.1},
 {'나이': 33, '이름': '김땡땡', '키': 175.5},
 {'나이': 28, '이름': '박땡땡', '키': 183.2}]

In [ ]:
pd.DataFrame(sample_data)  # JSON 형태의 데이터를 바로 DataFrame으로

    이름  나이      키
0  소민호  34  180.1
1  김땡땡  33  175.5
2  박땡땡  28  183.2

### CSV 파일 다루기
* 영어권이 아닌 데이터를 그냥 read_csv로 불러오면 글자가 깨지는 경우도 발생
    * read.csv("파일경로", encoding = 'utf-8' 또는 'euc-kr'

### CSV 파일 web에서 바로 읽어오기

In [ ]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
df = pd.read_csv(url)
df.head()

  Province/State Country/Region       Lat  ...  5/29/21  5/30/21  5/31/21
0            NaN    Afghanistan  33.93911  ...    70111    70761    71838
1            NaN        Albania  41.15330  ...   132297   132309   132315
2            NaN        Algeria  28.03390  ...   128456   128725   128913
3            NaN        Andorra  42.50630  ...    13693    13693    13727
4            NaN         Angola -11.20270  ...    34180    34366    34551

[5 rows x 500 columns]

### var, variance(분산) / std, standard deviation(표준편차)
* 분산과 표준편차는 데이터가 평균으로부터 얼마나 떨어져 있는지 정도를 나타냄

### loc 선택
* location의 약자
* loc[행 선택, 열 선택]
    * 행 선택 : 행의 인덱스를 활용, True/False 로 이루어진 조건 색인(indexing)
    * 열 선택 : 컬럼의 이름(들)

### Boolean Indexing 조건 색인
* 특정한 조건을 이용해서 그 조건을 만족하는(True) 데이터만 추출해내는 과정
1. 조건 마스크 생성
    * True/False 로 이루어진 배열 만들기
    * 조건에 맞으면 True / 조건에 안 맞으면 False
2. 생성된 조건 마스크를 색인 위치 (행 선택 위치) 에 넣어주기

In [ ]:
# 1단계 : 조건 마스크 생성
# 키가 180 초과다 라는 조건
df['키'] > 180

2단계 : 조건 인덱싱, 컬럼 선택을 동시에 (loc 사용)
* 조건 인덱싱은 기본적으로 행을 선택하기 위함

```python
df[df['키']<170][['이름','그룹','키']]
df[ 행 선택 ][ 열 선택 ]
df.loc[df['키']<170, ['이름','그룹','키']]
```

### isin을 활용한 인덱싱
isin을 활용한 색인은 조건을 걸고자 하는 값이 정의한 리스트에 있으면 True

In [ ]:
# 조건을 위한 리스트를 만들어 놓는 것
my_condition = ["빅히트", "플레디스"]

# 빅히트 또는 플레디스가 들어있으면 True, 없으면 False - isin
df['소속사'].isin(my_condition)

In [ ]:
df.loc[ df['소속사'].isin(my_condition) ]

## apply, lambda

### apply
Series, DataFrame에 **구체적인 로직**을 적용하고 싶을 때 활용
* 단순 집계 뿐이 아닌 각 데이터에 프로그래밍적인 효과
  * 데이터에 대한 조건검사를 한다거나
  * 형태소 분리도 가능
  * 복잡한 조건에 의한 데이터 편집 등등....
* apply는 정의한 로직함수를 인자로 넘긴다
    * 함수만 인자(매개변수)로 받기 때문에 반드시 함수가 필요함

In [ ]:
# loc으로도 가능
# 남자 : 1, 여자는 0으로 설정하기
df2 = df.copy()

df2.loc[df['성별'] == '남자', '성별'] = 1
df2.loc[df['성별'] == '여자', '성별'] = 0

df2.head()

apply 활용하면

In [ ]:
# 각 데이터에 적용시킬 함수가 필요하다 - 반드시 return값이 있어야 해요.
def male_or_female(x): # 매개변수 x에는 성별이 들어갈 것이다. ( 남자, 여자 )
  if x =='남자':
    return 1
  elif x == '여자':
    return 0
  else:
    return -1

In [ ]:
df['성별_NEW'] = df['성별'].apply(male_or_female)
df.head()

## Lambda 함수에 대한 이해
- 단일문으로 표현되는 **익명함수**
- 익명함수란? 이름이 없는 구현체만 존재하는 간단한 함수를 의미
- 원래 함수를 `def`키워드로 만든다는 의미 -> 여러 번 재사용이 가능한 함수를 만들겠다는 뜻이지만, `lambda`를 활용해서 만드는 함수는 1회성 함수

### lambda 함수 적용하기
* lambda는 1줄로 작성하는 간단한 함수식
* return을 따로 명시하지는 않는다.

In [ ]:
df['성별'].apply(lambda x : 1 if x == '남자' else 0)

## DataFrame 병합 - concat, merge
* concat과 merge는 단순하게 합쳐지는 목적 또는 특정 기준(index)으로 합치느냐에 따라서 용도가 달라집니다.
* concat : row나 column 기준으로 단순하게 이어 붙히기
* merge : 특정 고유한 키(unique id)값을 기준으로 병합하기

**pd.merge(left, right, on='기준 컬럼', how='left')**
* left와 right는 병합할 두 DataFrame을 대입
* on에는 병합의 기준이 되는 컬럼의 이름
* how에는 `'left', 'right', 'inner', 'outer'`라는 4가지 병합 방식을 지원

In [2]:
def div(x, y):
  print(f"나누기 수행 : {x} / {y}")
  return x / y

print("Hello")
c = div(10, 3)

Hello
나누기 수행 : 10 / 3